*.sw[op]
.DS_Store

# IDEA
.idea
*.iml
*.ipr
*.iws
out

# Gradle
.gradle
build

# Maven
target
dist
node

#build
.tmp
dist

#node
bower_components
node_modules

#Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.classpath
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
